@import '../../Styles/image';
@import '../../Styles/flexCard';

.cart-items-container {
    @include flexCard(80%, 12px);
    min-width: 340px !important;
    max-width: 480px !important;
}
.cart-check-container {
    @include flexCard(256px, 0);
    max-height: fit-content !important;
}
.cart-item-content {
    text-align: center;
    font-size: 10pt !important;
    .ui.selection.dropdown {
        min-width: 32px !important;
    }
}
.cart-item-image {
    @include image(128px);
    width:128px !important;
}
.cart-check-content {
    margin: 12px !important;
    .statistic {
        display: flex;
        align-items: center;
        justify-content: center;
        .value {
            font-size: 30pt !important;
        }
    }
}
.cart-check-message {
    text-align: center;
    font-size: 12pt !important;
    max-width: 320px;
    margin-left: auto !important;
    margin-right: auto !important;
}