@import './colors';

.ui.card > :last-child,
.ui.cards > .card > :last-child {
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 0 10px 10px !important;
}

.ui.message {
    box-shadow: none !important;
    font-size: 10pt;
}

.dropdown.item .menu {
    border-radius: 0 0 0 0 !important;
    box-shadow: 4px 4px 16px 4px $shadowColor !important;
    border: none;
}
.ui.popup {
    text-align: center;
    background-color: $primaryColor !important;
    border: none !important;
    color: white;
}
