@import '../../../Styles/colors';

.body-container {
    padding-top: 128px !important;
    padding-bottom: 64px !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
    margin: 0 !important;
    min-height: 720px;
}